PUBLIC_SUPABASE_URL=https://wnaxmgtrdhlousolblcr.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InduYXhtZ3RyZGhsb3Vzb2xibGNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDIwMDQwMDksImV4cCI6MjA1NzU4MDAwOX0.2RpSfPoTJRhBDdJ-3HuXTS-f4fK9EUoqLZR1dmfpbTs

# Stripe API Keys
STRIPE_SECRET_KEY=sk_test_IJFUvc5CSznlOrQCKEuqLamW
PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_lenC5YdBNafEUuwYfM1tt3iq
STRIPE_WEBHOOK_SECRET=whsec_Z2ckEAyHgF0qhEfQNkoI1L1hGZuV3deA
